secret.conf.sh

# IntelliJ stuff
.idea/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

*.zip
app/package/*
app/build/
app/dist/

**/.idea/
*.egg-info

.mypy_cache/
.coverage
