secret.conf.sh

# IntelliJ stuff
.idea/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

*.zip
app/package/*
app/build/
app/dist/

**/.idea/
*.egg-info

__pycache__/
.mypy_cache/

.coverage

# frontend
hallebarde-frontend/node_modules/