secret.conf.sh

# IntelliJ stuff
.idea/
app/.vscode/settings.json
.vscode/
.devcontainer/
node_modules/

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

*.zip
app/package/*
app/build/
app/dist/

**/.idea/
*.egg-info

__pycache__/
.mypy_cache/

.coverage

# frontend
hallebarde-frontend/node_modules/
hallebarde-frontend/src/tests/mockServerToTestUpload/node_modules/
