[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
mypy = "*"
flake8 = "*"

[packages]
boto3 = "*"

[requires]
python_version = "3.6"
