[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
bandit = "*"
behave = "*"
coverage = "*"
cryptography = "*"
docker = "*"
flake8 = "*"
hallebarde = {path = "./app",editable = true}
importlib-metadata = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pytest-env = "*"
safety = "*"
requests = "*"
requests_oauthlib = "*"

[packages]
boto3 = "*"
botocore = "*"
pyjwt = "*"
rsa = "==4.3"

[requires]
python_version = "3.8"
