[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
behave = "*"
coverage = "*"
cryptography = "*"
docker = "*"
flake8 = "*"
hallebarde = {path = "./app",editable = true}
mypy = "*"
pytest = "*"
pytest-env = "*"
requests = "*"
requests_oauthlib = "*"
importlib-metadata = "*"

[packages]
boto3 = "*"
botocore = "*"
pyjwt = "*"

[requires]
python_version = "3.7"
